@media (max-width:1605px) and (min-width:993px) {
    #shift
    {
        margin-left: 150px;
    }
    
    #profilePicture
    {
        padding-top: 10px;
        top: 10px;
        border-radius: 50%;
    }

    #sidebar a 
    {
        text-align: center;
        padding: 5px 8px 5px 5px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        margin: auto;
    }
    
    #mobileMenu, .mobileTable
    {
        display: none;
    }
}
